#check {
    display: none;
}

#checkBrian {
    display: none;
}

#checkEthan {
    display: none;
}

#clueDog {
    display: none;
}

#burnCity {
    display:none;
}

#clueCode {
    display: none;
}